.contentFooter{
    display: flex;
    height: 210px;
    align-items: center;
    padding: 1%;
    background-color: #E03138;
}

.logoConact{
    position: relative;
    width: 35%;
    margin-left: 2%;
}

.logoConact img{
    width: 55%;
    height: 50%;
    position: relative;
    right: 6%;
}

.logoConact p{
    font-size: 1em;
    color: white;
}

.logoConact a{
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.listas {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 65%;
    list-style: none;
}
  
.listas > ul {
    position: relative;
    list-style: none;
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex; /* Agregado para aplicar flexbox a los elementos <ul> */
    align-items: flex-end; /* Agregado para alinear elementos <li> a la derecha */
    flex-direction: reverse; /* Cambiado para invertir el orden de los elementos */
}


.listas > ul li a {
    text-decoration: none;
    margin-left:10px;
    color: white;
}
.listas > ul:nth-child(2) > li {
    border-right: 1px solid white; /* Cambia 'tu-color-aqui' al color deseado */
    padding-right: 8px; /* Agrega espacio entre el borde y el contenido */
}

.listas p{
    color: white;
}

@media (min-width: 1024px) and (max-width: 1279px){
    .contentFooter{
        height: 150px;
    }
    .logoConact p{
        font-size: .8em;
    }
    .listas > ul li a {
        font-size: .65em;
    }
    .listas p{
        font-size: .8em;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px){
    .contentFooter{
        flex-direction: column;
        height: 100%;
        padding-bottom: 4%;
    }

    .logoConact{
        position: relative;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
    }
    
    .logoConact img{
        width: 100%;
        height: 50%;
        position: relative;
        right: 0%;
    }
    
    .logoConact p{
        font-size: .8em;
        text-align: center;
    }
    .listas {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 85%;
    }
      
    .listas > ul {
        display: flex;
        align-items: center;
    }
    .listas > ul li a {
        font-size: .65em;
    }
    .listas p{
        font-size: .8em;
    }
  }
  @media (min-width: 481px) and (max-width: 767px){
    .contentFooter{
        flex-direction: column;
        height: 100%;
        padding-bottom: 4%;
    }

    .logoConact{
        position: relative;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
    }
    
    .logoConact img{
        width: 100%;
        height: 50%;
        position: relative;
        right: 0%;
    }
    
    .logoConact p{
        font-size: .8em;
        text-align: center;
    }
    .listas {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 85%;
    }
      
    .listas > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listas > ul li a {
        font-size: .7em;
        margin-top: 5%;
    }
    .listas p{
        font-size: .8em;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .listas .iconos {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        left: -5%;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .listas > ul:nth-child(2) > li {
        display: flex;
        text-align: center;
        border-right: 0px; /* Cambia 'tu-color-aqui' al color deseado */
        padding-right: 0px; /* Agrega espacio entre el borde y el contenido */
    }
  }
  
  @media (max-width: 480px){
    .contentFooter{
        flex-direction: column;
        height: 100%;
        padding-bottom: 4%;
    }

    .logoConact{
        position: relative;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
    }
    
    .logoConact img{
        width: 100%;
        height: 50%;
        position: relative;
        right: 0%;
    }
    
    .logoConact p{
        font-size: .8em;
        text-align: center;
    }
    .listas {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 85%;
    }
      
    .listas > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .listas > ul li a {
        font-size: .7em;
        margin-top: 5%;
    }
    .listas p{
        font-size: .8em;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .listas .iconos {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        left: -5%;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .listas > ul:nth-child(2) > li {
        display: flex;
        text-align: center;
        border-right: 0px; /* Cambia 'tu-color-aqui' al color deseado */
        padding-right: 0px; /* Agrega espacio entre el borde y el contenido */
    }
  }
  