.elemento {
    position: absolute;
    top: 90%;
    width: 93.5%;
    height: 100%;
    z-index: 90;
}

.elemento img{
    position: absolute;
    width: 100%;
    height: 30%;
}

.elemento2Caja{
    position: relative;
    width: 100%;
}

.elemento2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 90%;
    z-index: 90;
}
.elemento2 img{
    position: absolute;
    width: 100%;
    height: 30%;
}

@media (min-width: 1024px) and (max-width: 1279px) {

    .elemento {
        position: absolute;
        top: 90%;
        width: 93.5%;
        height: 550px;
        z-index: 90;
    }

    .elemento2{
        position: absolute;
        width: 100%;
        height: 550px;
        top: 90%;
        z-index: 90;

  }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {

    .elemento {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 450px;
        z-index: 90;
    }
    .elemento2{
        position: absolute;
        width: 100%;
        height: 450px;
        top: 90%;
        z-index: 90;

  }
}
  
  @media (min-width: 481px) and (max-width: 767px) {

    .elemento {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 350px;
        z-index: 90;
    }
    .elemento2{
        position: absolute;
        width: 100%;
        height: 350px;
        top: 90%;
        z-index: 90;

  }
  }
  
  @media (max-width: 480px) {

    .elemento {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 350px;
        z-index: 90;
    }

    .elemento2{
        position: absolute;
        width: 100%;
        height: 350px;
        top: 90%;
        z-index: 90;
    }

  }