  .contenedor {
    width: 100%;
    height: 110vh;
    background-image: url('/images/about_us.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
  }

  .caja {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -7.6%;
    z-index: 99;
  }

  .content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    color: white;
    margin-Left: 1.5%;
  }


  @media (min-width: 1024px) and (max-width: 1279px) {
    .contenedor {
      height: 90vh;
    }
    .caja {
      height: 100px;
    }

    .content::after {
      width: 200px;
      height: 200px;
      bottom: 34px;
      right: 66px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .contenedor {
      height: 90vh;
    }

    .caja {
      height: 100px;
    }

  }

  @media (min-width: 481px) and (max-width: 767px) {
    .contenedor {
      height: 100vh;
    }

    .envoltura {
      width: 8%;
    }

    .caja {
      height: 8%;
      bottom: 0%;
    }

    .content::after {
      width: 160px;
      height: 160px;
      bottom: 5%;
      right: 4%;
      mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 140px, black 60px);
    }
  }

  @media (max-width: 480px) {
    .contenedor {
      height: 100vh;
    }

    .envoltura {
      width: 8%;
    }

    .caja {
      height: 8%;
      bottom: 0%;
    }

    .content::after {
      width: 160px;
      height: 160px;
      bottom: 5%;
      right: 3.5%;
      mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 140px, black 60px);
    }
  }