@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Personalización del scroll */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #E03138;
  border-radius: 0;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}