.enlace{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Color de fondo de WhatsApp */
    color: #fff; /* Color del texto */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    max-width: 250px;
    word-wrap: break-word;
}

.iconowhatsapp{
    font-size: 2em;
}