.contenedorPrincipal {
    position: relative;
    height: 110vh;
    width: 93.5vw;
}

.contenedorSlideShow {
    display: flex;
    flex-wrap: nowrap;
}

.slide {
    display: flex;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    z-index: 10;
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 1;
}

.slide img {
    width: 100%;
    height: 100%;
}

/* Otros estilos... */

/* Estilos personalizados para TextoSection en el Slideshow */
.textoSlide {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Alinea los elementos al inicio */
    top: 50%;
    transform: translateY(-57%);
    padding-left: 20px;
    /* Añade padding izquierdo */
}

/* Estilos para la imagen dentro de TextoSection */
.textoSlide img {
    transform: translateX(-6%);
}

/* Otros estilos... */



/* Otros estilos... */

.controles {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.boton {
    pointer-events: all;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
}

.boton path {
    filter: drop-shadow(-2px 0px 0px #fff);
}

.boton.derecho {
    left: 95%;
}

@media (min-width: 1024px) and (max-width: 1279px) {

    .contenedorPrincipal {
        height: 90vh;
    }

    .slide {
        width: 100vw;
        min-width: 100vw;
        height: 100%;
        max-height: 1;
    }

    .slide img {
        width: 100%;
        height: 100%;
    }

    .textoSlide {
        top: 45%;
        transform: translateY(-57%);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contenedorPrincipal {
        height: 90vh;
    }

    .slide {
        width: 100vw;
        min-width: 100vw;
        height: 100%;
        max-height: 1;
    }

    .slide img {
        width: 100%;
        height: 100%;
    }

    .textoSlide {
        display: flex;
        align-items: center;
        left: 2%;

    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .contenedorPrincipal {
        height: 100vh;
    }

    .slide {
        width: 100vw;
        min-width: 100vw;
        height: 100vh;
        max-height: 1;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center !important;
    }

    .textoSlide {
        display: flex;
        align-items: center;
        left: 2%;

    }

}

@media (max-width: 480px) {
    .contenedorPrincipal {
        height: 100vh;
    }

    .slide {
        width: 100vw;
        min-width: 100vw;
        height: 100vh;
        max-height: 1;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center !important;
    }

    .textoSlide {
        display: flex;
        align-items: center;
        left: 2%;

    }

}